.bg-image {
    background-image: url('../assets/burger.png');
    background-size: cover; 
    background-position: center;
    min-height: 60vh;
    padding: 40px; 
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 0 10px; 
}
.container {
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
}
h1 {
    font-size: 2rem;
}

p{
    text-align: center;
    font-size: 1.8rem;
}
