
@media (max-width:768px) {
    .sidebar{
        
    }
    .menu-mobile{
        
    }
}

@media (max-width:576px) {
    .sidebar{
        display: none;
    }
    .link-list{
        display: none;
    }
    .menu-mobile{
        display: block!important;
    }
}
