.form-login{
    background-color: #ffffff;
    border-radius: 10;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,82,206,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,82,206,1);
    box-shadow: 10px 10px 5px 0px rgba(0,82,206,1);
    padding: 50px;
    border-radius: 10px;
    text-align: left;
    margin-top: 20px;
}
.form-title{
    color: #3e3e3e;
}