.ingreso{
    height: 100vh;
    background: rgb(0,67,168);
    background: linear-gradient(0deg, rgba(0,67,168,1) 0%, rgba(0,102,255,1) 100%);
}
.logo{
}
.logo img{
    width: 180px;
    margin-bottom: 20px;
}
.footer{
    color: #8FBDFF;
    margin-top: 30px;
}