header{
    background-color: #0066FF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    height: 10vh;
}
header .brand{
    text-align: left;
}
header .brand:hover{
    opacity: 0.4;
    transition: opacity .4s;
}
header nav{
    margin-left: auto;
    text-align: end;
}
header .menu-mobile{
    display: none;
}
button.navbar-toggler.collapsed {
    border: 2px solid #fff;
}
.navbar-toggler{
    background: #ffffff;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.navbar-nav a{
    text-decoration: none;
    color: #676767;
    padding: 15px 0px;
    border-bottom: 1px solid #cecece;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
    color:#ffffff;
    li a:hover{
        opacity: 0.4;
        transition: opacity .4s;
    }
    li img{
        width: 30px;
    }
}
.link{
    text-decoration: none;
    color: #ffffff;
}