header{
    background-color: #0066FF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    height: 10vh;
}
header .brand{
    width: 50vw;
    text-align: left;
}
header nav{
    width: 50vw;
    text-align: end;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
    color:#ffffff;
    li a:hover{
        opacity: 0.4;
        transition: opacity .4s;
    }
    li img{
        width: 30px;
    }
}
.link{
    text-decoration: none;
    color: #ffffff;
}